tap 'buo/cask-upgrade'

# Core tools (all profiles)
brew 'dockutil'
brew 'fzf'
brew 'git'
brew 'gnupg'
brew 'mas'
brew 'mise'
brew 'neovim'
brew 'starship'
brew 'yt-dlp'
brew 'zoxide'

# Zsh plugins
brew 'zsh-autosuggestions'
brew 'zsh-completions'
brew 'zsh-fast-syntax-highlighting'
brew 'zsh-history-substring-search'

# Applications (all profiles)
cask '1password'
cask '1password-cli'
cask 'brave-browser'
cask 'cleanshot'
cask 'docker-desktop'
cask 'font-fira-code-nerd-font'
cask 'fork'
cask 'iterm2'
cask 'ngrok'
cask 'pixelsnap'
cask 'raycast'
cask 'spotify'
cask 'telegram'
cask 'whatsapp'
cask 'zed@preview'

# Mac App Store (install manually or uncomment after logging into App Store)
mas 'Keynote', id: 409183694
mas 'Numbers', id: 409203825
mas 'Pages', id: 409201541
# mas 'Pixelmator Pro', id: 1289583905
mas 'Xcode', id: 497799835

{{- if ( and (hasKey . "data") (hasKey .data "work") ( eq .data.work true) ) }}

# Work profile only
cask 'postman'
mas 'Slack', id: 803453959

{{- else }}

# Personal profile only
cask 'audacity'
cask 'iina'
cask 'meta'
cask 'rekordbox'
cask 'soulseek'
cask 'tiny-player'

{{- end }}
